@model IEnumerable<Diplom.Models.MenuFood>

<link rel="stylesheet" href="~/css/Table.css" />


<style>
    .custom-cursor {
        cursor: pointer;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const accordions = document.querySelectorAll('.collapsed.custom-cursor');

        accordions.forEach(function (accordion) {
            const accordionToggle = accordion.querySelector('a');
            const accordionIcon = accordionToggle.querySelector('i');
            const accordionCollapse = document.querySelector(accordion.getAttribute('data-bs-target'));

            accordion.addEventListener('click', function () {
                accordions.forEach(function (otherAccordion) {
                    if (otherAccordion !== accordion) {
                        const otherAccordionToggle = otherAccordion.querySelector('a');
                        const otherAccordionIcon = otherAccordionToggle.querySelector('i');
                        const otherAccordionCollapse = document.querySelector(otherAccordion.getAttribute('data-bs-target'));

                        otherAccordionToggle.classList.add('collapsed');
                        otherAccordionIcon.classList.replace('bi-dash-lg', 'bi-plus-lg');
                        otherAccordionCollapse.classList.remove('show');
                    }
                });

                accordionToggle.classList.toggle('collapsed');
                accordionCollapse.classList.toggle('show');

                if (accordionToggle.classList.contains('collapsed')) {
                    accordionIcon.classList.replace('bi-plus-lg', 'bi-dash-lg');
                } else {
                    accordionIcon.classList.replace('bi-dash-lg', 'bi-plus-lg');
                }
            });

            // Установка иконки в зависимости от начального состояния аккордеона
            if (accordionCollapse.classList.contains('show')) {
                accordionIcon.classList.replace('bi-plus-lg', 'bi-dash-lg');
            }
        });
    });
</script>


<div class="d-flex justify-content-between my-5">
    <a asp-action="Index" asp-controller="Menus" class="btn btn-light mr-auto"><i class="bi bi-arrow-left-short"></i>Вернуться к списку меню</a>

    <div class="dropdown show">

        <a class="btn btn-light dropdown" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Функции <i class="bi bi-gear"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="@Url.Action("Create", "MenuFoods", new { IdMenu = ViewBag.IdMenu })">Добавить продукт</a>
            <a class="dropdown-item" href="@Url.Action("Create", "Meals", new { IdMenu = ViewBag.IdMenu })">Добавить блюдо</a>
        </div>
    </div>
</div>


<div id="accordion">
    <div>
        <div id="headingOne" class="collapsed custom-cursor" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <a style="font-size: 20px;" class=" mb-0 ml-3">
                <i class="bi bi-dot"></i> Завтрак
            </a>
        </div>
        <hr />
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

            <div style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead class="sticky-top">
                        <tr class="bg-white">
                            <th scope="col">Название</th>
                            <th scope="col">Количество за единицу</th>
                            <th scope="col">Поставка</th>
                            <th scope="col">Код</th>
                            <th>Единица измерения</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.Where(x => x.MealTimeId == 1).GroupBy(x => x.MealId))
                        {
                            var meal = group.First().Meal;
                            var unit = group.First().Unit;

                            <tr>
                                <td class="pt-2 font-weight-bold">
                                    @meal.Name
                                </td>

                            </tr>

                            @foreach (var item in group.OrderBy(x => x.Name))
                            {
                                <tr class="bg-blue">
                                    <td class="pt-3">@item.Name</td>
                                    <td class="pt-3">@item.CountPerUnit</td>
                                    <td class="pt-3">@Math.Round(item.Supply, 2)</td>
                                    <td class="pt-3">@item.Code</td>

                                    <td class="pt-3">@item.Unit.Name</td>
                                    <td>
                                        <div style="z-index: 9999;" class="dropdown position">
                                            <a class="btn btn-sm btn-icon-only icon-color" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class='bx bx-dots-vertical-rounded'></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="@Url.Action("Edit", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Редактировать</a>
                                                <a class="dropdown-item" href="@Url.Action("Delete", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Удалить</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr id="spacing-row">
                                    <td></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>


        <div id="headingTwo" class="collapsed custom-cursor" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <a style="font-size: 20px;" class=" mb-0 ml-3">
                <i class="bi bi-dot"></i> 2-ой Завтрак
            </a>
        </div>
        <hr />
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

            <div style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead class="sticky-top">
                        <tr class="bg-white">
                            <th scope="col">Название</th>
                            <th scope="col">Количество за единицу</th>
                            <th scope="col">Поставка</th>
                            <th scope="col">Код</th>
                            <th>Единица измерения</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.Where(x => x.MealTimeId == 2).GroupBy(x => x.MealId))
                        {
                            var meal = group.First().Meal;
                            var unit = group.First().Unit;

                            <tr>
                                <td class="pt-2 font-weight-bold">
                                    @meal.Name
                                </td>

                            </tr>

                            @foreach (var item in group.OrderBy(x => x.Name))
                            {
                                <tr class="bg-blue">
                                    <td class="pt-3">@item.Name</td>
                                    <td class="pt-3">@item.CountPerUnit</td>
                                    <td class="pt-3">@Math.Round(item.Supply, 2)</td>
                                    <td class="pt-3">@item.Code</td>

                                    <td class="pt-3">@item.Unit.Name</td>
                                    <td>
                                        <div style="z-index: 9999;" class="dropdown position">
                                            <a class="btn btn-sm btn-icon-only icon-color" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class='bx bx-dots-vertical-rounded'></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="@Url.Action("Edit", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Редактировать</a>
                                                <a class="dropdown-item" href="@Url.Action("Delete", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Удалить</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr id="spacing-row">
                                    <td></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>



        <div id="headingFoo" class="collapsed custom-cursor" data-toggle="collapse" data-target="#collapseFoo" aria-expanded="false" aria-controls="collapseFoo">
            <a style="font-size: 20px;" class=" mb-0 ml-3">
                <i class="bi bi-dot"></i> Обед
            </a>
        </div>
        <hr />
        <div id="collapseFoo" class="collapse" aria-labelledby="headingFoo" data-parent="#accordion">

            <div style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead class="sticky-top">
                        <tr class="bg-white">
                            <th scope="col">Название</th>
                            <th scope="col">Количество за единицу</th>
                            <th scope="col">Поставка</th>
                            <th scope="col">Код</th>
                            <th>Единица измерения</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.Where(x => x.MealTimeId == 3).GroupBy(x => x.MealId))
                        {
                            var meal = group.First().Meal;
                            var unit = group.First().Unit;

                            <tr>
                                <td class="pt-2 font-weight-bold">
                                    @meal.Name
                                </td>

                            </tr>

                            @foreach (var item in group.OrderBy(x => x.Name))
                            {
                                <tr class="bg-blue">
                                    <td class="pt-3">@item.Name</td>
                                    <td class="pt-3">@item.CountPerUnit</td>
                                    <td class="pt-3">@Math.Round(item.Supply, 2)</td>
                                    <td class="pt-3">@item.Code</td>

                                    <td class="pt-3">@item.Unit.Name</td>
                                    <td>
                                        <div style="z-index: 9999;" class="dropdown position">
                                            <a class="btn btn-sm btn-icon-only icon-color" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class='bx bx-dots-vertical-rounded'></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="@Url.Action("Edit", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Редактировать</a>
                                                <a class="dropdown-item" href="@Url.Action("Delete", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Удалить</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr id="spacing-row">
                                    <td></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>


        <div id="headingFive" class="collapsed custom-cursor" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <a style="font-size: 20px;" class=" mb-0 ml-3">
                <i class="bi bi-dot"></i> Полдник
            </a>
        </div>
        <hr />
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">

            <div style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead class="sticky-top">
                        <tr class="bg-white">
                            <th scope="col">Название</th>
                            <th scope="col">Количество за единицу</th>
                            <th scope="col">Поставка</th>
                            <th scope="col">Код</th>
                            <th>Единица измерения</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.Where(x => x.MealTimeId == 4).GroupBy(x => x.MealId))
                        {
                            var meal = group.First().Meal;
                            var unit = group.First().Unit;

                            <tr>
                                <td class="pt-2 font-weight-bold">
                                    @meal.Name
                                </td>

                            </tr>

                            @foreach (var item in group.OrderBy(x => x.Name))
                            {
                                <tr class="bg-blue">
                                    <td class="pt-3">@item.Name</td>
                                    <td class="pt-3">@item.CountPerUnit</td>
                                    <td class="pt-3">@Math.Round(item.Supply, 2)</td>
                                    <td class="pt-3">@item.Code</td>

                                    <td class="pt-3">@item.Unit.Name</td>
                                    <td>
                                        <div style="z-index: 9999;" class="dropdown position">
                                            <a class="btn btn-sm btn-icon-only icon-color" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class='bx bx-dots-vertical-rounded'></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="@Url.Action("Edit", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Редактировать</a>
                                                <a class="dropdown-item" href="@Url.Action("Delete", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Удалить</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr id="spacing-row">
                                    <td></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>


        <div id="headingSex" class="collapsed custom-cursor" data-toggle="collapse" data-target="#collapseSex" aria-expanded="false" aria-controls="collapseSex">
            <a style="font-size: 20px;" class=" mb-0 ml-3">
                <i class="bi bi-dot"></i> Ужин
            </a>
        </div>
        <hr />
        <div id="collapseSex" class="collapse" aria-labelledby="headingSex" data-parent="#accordion">

            <div style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead class="sticky-top">
                        <tr class="bg-white">
                            <th scope="col">Название</th>
                            <th scope="col">Количество за единицу</th>
                            <th scope="col">Поставка</th>
                            <th scope="col">Код</th>
                            <th>Единица измерения</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.Where(x => x.MealTimeId == 5).GroupBy(x => x.MealId))
                        {
                            var meal = group.First().Meal;
                            var unit = group.First().Unit;

                            <tr>
                                <td class="pt-2 font-weight-bold">
                                    @meal.Name
                                </td>

                            </tr>

                            @foreach (var item in group.OrderBy(x => x.Name))
                            {
                                <tr class="bg-blue">
                                    <td class="pt-3">@item.Name</td>
                                    <td class="pt-3">@item.CountPerUnit</td>
                                    <td class="pt-3">@Math.Round(item.Supply, 2)</td>
                                    <td class="pt-3">@item.Code</td>

                                    <td class="pt-3">@item.Unit.Name</td>
                                    <td>
                                        <div style="z-index: 9999;" class="dropdown position">
                                            <a class="btn btn-sm btn-icon-only icon-color" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class='bx bx-dots-vertical-rounded'></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="@Url.Action("Edit", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Редактировать</a>
                                                <a class="dropdown-item" href="@Url.Action("Delete", "MenuFoods", new { id = item.Id, IdMenu = item.MenuId })">Удалить</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr id="spacing-row">
                                    <td></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>



        <div id="headingSeven" class="collapsed custom-cursor" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <a style="font-size: 20px;" class=" mb-0 ml-3">
                <i class="bi bi-dot"></i> Общий подсчет
            </a>
        </div>
        <hr />
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">

            <div style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                    <thead class="sticky-top">
                        <tr class="bg-white">
                            <th scope="col">Название</th>
                            <th scope="col">Количество за единицу</th>
                            <th scope="col">Общая поставка</th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.GroupBy(x => x.Name))
                        {
                            var totalPerUnit = group.Sum(x => x.CountPerUnit);
                            var totalSupply = group.Sum(x => x.Supply);

                            <tr class="bg-blue">
                                <td class="pt-3">@group.Key</td>
                                <td class="pt-3">@totalPerUnit</td>
                                <td class="pt-3">@Math.Round(totalSupply, 2)</td>
                            </tr>
                            <tr id="spacing-row">
                                <td></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

